
  body
  {
    font-family: 'Varela Round', sans-serif;
  }
    .logo
    {
      margin:auto;
      text-align: center;
    }
    #c1
    {
      width: 30px;
      border-radius: 50px;
      height: 30px;
      background-color: black;
      margin-left: 20px;

      animation-name: color;
      animation-duration: 5s;
      animation-iteration-count: infinite;
    }
    #c2
    {
      width: 15px;
      border-radius: 50px;
      height: 15px;
      background-color: black;
      margin-left: 20px;

      animation-name: color;
      animation-duration: 5s;
      animation-iteration-count: infinite;
    }

    #c3
    {
      width: 30px;
      border-radius: 50px;
      height: 30px;
      background-color: black;
      margin-left: 20px;
      animation-name: color;
      animation-duration: 5s;
      animation-iteration-count: infinite;
    }
    @keyframes color {
      0%
      {
        background-color: black;
      }
      10%
      {
        background-color: green;
      }
      30%
      {
        background-color: blue;
      }
      40%
      {
        background-color: yellow;
      }
      50%
      {
        background-color: red;
      }
      60%
      {
        background-color: red;
      }
      70%
      {
        background-color: green;
      }
      80%
      {
        background-color: blue;
      }
      90%
      {
        background-color: yellow;
      }
      100%
      {
        background-color: red;
      }
    }
    .teamName
    {
      font-size: 30px;padding: 10px;background-color: #2c5ba7;border-radius: 15px;color: white;margin-left: 20px;
    }
    .teams_status
    {
      padding: 5px;
      background-color: #4E7FF0;
      border-radius: 2px;
      margin-left: 5px;
      color: white;
      font-size: 10px;
      width: 75px;
      border-radius: 5px;
    }
    .lists
    {
      border-width: 1px;
      border-style: solid;
      border-color: grey;
    }
    .list-group
    {
      cursor: pointer;
    }