.head
{
	font-size: 30px;
	text-align: center;
	color: blue;
	margin-top: 300px;
}
.top
{
	font-size: 80px;
	text-align: right;
	color: blue;
}
#dot1
{
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: black;
	left: 100px;
	top: 100px;
	position: absolute;
}
#dot2
{
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: black;
	left: 220px;
	top: 100px;
	position: absolute;
}
#dot3
{
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: black;
	left: 340px;
	top: 100px;
	position: absolute;
}
#dot4
{
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: black;
	left: 460px;
	top: 100px;
	position: absolute;
}
#dot5
{
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: black;
	left: 580px;
	top: 100px;
	position: absolute;
}

#dot6
{
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: black;
	left: 100px;
	top: 220px;
	position: absolute;
}
#dot7
{
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: black;
	left: 220px;
	top: 220px;
	position: absolute;
}
#dot8
{
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: black;
	left: 340px;
	top: 220px;
	position: absolute;
}
#dot9
{
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: black;
	left: 460px;
	top: 220px;
	position: absolute;
}
#dot10
{
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: black;
	left: 580px;
	top: 220px;
	position: absolute;
}
#dot11
{
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: black;
	left: 100px;
	top: 340px;
	position: absolute;
}
#dot12
{
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: black;
	left: 220px;
	top: 340px;
	position: absolute;
}
#dot13
{
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: black;
	left: 340px;
	top: 340px;
	position: absolute;
}
#dot14
{
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: black;
	left: 460px;
	top: 340px;
	position: absolute;
}
#dot15
{
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: black;
	left: 580px;
	top: 340px;
	position: absolute;
}

#dot16
{
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: black;
	left: 100px;
	top: 460px;
	position: absolute;
}
#dot17
{
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: black;
	left: 220px;
	top: 460px;
	position: absolute;
}
#dot18
{
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: black;
	left: 340px;
	top: 460px;
	position: absolute;
}
#dot19
{
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: black;
	left: 460px;
	top: 460px;
	position: absolute;
}
#dot20
{
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: black;
	left: 580px;
	top: 460px;
	position: absolute;
}

#dot21
{
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: black;
	left: 100px;
	top: 580px;
	position: absolute;
}
#dot22
{
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: black;
	left: 220px;
	top: 580px;
	position: absolute;
}
#dot23
{
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: black;
	left: 340px;
	top: 580px;
	position: absolute;
}
#dot24
{
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: black;
	left: 460px;
	top: 580px;
	position: absolute;
}
#dot25
{
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: black;
	left: 580px;
	top: 580px;
	position: absolute;
}


#line1
{
	width: 100px;
	height: 20px;
	border-radius: 10px;
	background-color: lightgrey;
	left: 120px;
	top: 100px;
	position: absolute;
}
#line2
{
	width: 100px;
	height: 20px;
	border-radius: 10px;
	background-color: lightgrey;
	left: 240px;
	top: 100px;
	position: absolute;
}
#line3
{
	width: 100px;
	height: 20px;
	border-radius: 10px;
	background-color: lightgrey;
	left: 360px;
	top: 100px;
	position: absolute;
}
#line4
{
	width: 100px;
	height: 20px;
	border-radius: 10px;
	background-color: lightgrey;
	left: 480px;
	top: 100px;
	position: absolute;
}
#line5
{
	width: 100px;
	height: 20px;
	border-radius: 10px;
	background-color: lightgrey;
	left: 120px;
	top: 220px;
	position: absolute;
}
#line6
{
	width: 100px;
	height: 20px;
	border-radius: 10px;
	background-color: lightgrey;
	left: 240px;
	top: 220px;
	position: absolute;
}
#line7
{
	width: 100px;
	height: 20px;
	border-radius: 10px;
	background-color: lightgrey;
	left: 360px;
	top: 220px;
	position: absolute;
}
#line8
{
	width: 100px;
	height: 20px;
	border-radius: 10px;
	background-color: lightgrey;
	left: 480px;
	top: 220px;
	position: absolute;
}

#line9
{
	width: 100px;
	height: 20px;
	border-radius: 10px;
	background-color: lightgrey;
	left: 120px;
	top: 340px;
	position: absolute;
}
#line10
{
	width: 100px;
	height: 20px;
	border-radius: 10px;
	background-color: lightgrey;
	left: 240px;
	top: 340px;
	position: absolute;
}
#line11
{
	width: 100px;
	height: 20px;
	border-radius: 10px;
	background-color: lightgrey;
	left: 360px;
	top: 340px;
	position: absolute;
}
#line12
{
	width: 100px;
	height: 20px;
	border-radius: 10px;
	background-color: lightgrey;
	left: 480px;
	top: 340px;
	position: absolute;
}
#line13
{
	width: 100px;
	height: 20px;
	border-radius: 10px;
	background-color: lightgrey;
	left: 120px;
	top: 460px;
	position: absolute;
}
#line14
{
	width: 100px;
	height: 20px;
	border-radius: 10px;
	background-color: lightgrey;
	left: 240px;
	top: 460px;
	position: absolute;
}
#line15
{
	width: 100px;
	height: 20px;
	border-radius: 10px;
	background-color: lightgrey;
	left: 360px;
	top: 460px;
	position: absolute;
}
#line16
{
	width: 100px;
	height: 20px;
	border-radius: 10px;
	background-color: lightgrey;
	left: 480px;
	top: 460px;
	position: absolute;
}
#line17
{
	width: 100px;
	height: 20px;
	border-radius: 10px;
	background-color: lightgrey;
	left: 360px;
	top: 580px;
	position: absolute;
}
#line18
{
	width: 100px;
	height: 20px;
	border-radius: 10px;
	background-color: lightgrey;
	left: 480px;
	top: 580px;
	position: absolute;
}

#line19
{
	width: 100px;
	height: 20px;
	border-radius: 10px;
	background-color: lightgrey;
	left: 120px;
	top: 580px;
	position: absolute;
}
#line20
{
	width: 100px;
	height: 20px;
	border-radius: 10px;
	background-color: lightgrey;
	left: 240px;
	top: 580px;
	position: absolute;
}

#l1
{
	width: 20px;
	height: 100px;
	border-radius: 10px;
	background-color: lightgrey;
	left: 100px;
	top: 120px;
	position: absolute;
}
#l2
{
	width: 20px;
	height: 100px;
	border-radius: 10px;
	background-color: lightgrey;
	left: 220px;
	top: 120px;
	position: absolute;
}
#l3
{
	width: 20px;
	height: 100px;
	border-radius: 10px;
	background-color: lightgrey;
	left: 340px;
	top: 120px;
	position: absolute;
}
#l4
{
	width: 20px;
	height: 100px;
	border-radius: 10px;
	background-color: lightgrey;
	left: 460px;
	top: 120px;
	position: absolute;
}
#l5
{
	width: 20px;
	height: 100px;
	border-radius: 10px;
	background-color: lightgrey;
	left: 580px;
	top: 120px;
	position: absolute;
}
#l6
{
	width: 20px;
	height: 100px;
	border-radius: 10px;
	background-color: lightgrey;
	left: 100px;
	top: 240px;
	position: absolute;
}
#l7
{
	width: 20px;
	height: 100px;
	border-radius: 10px;
	background-color: lightgrey;
	left: 220px;
	top: 240px;
	position: absolute;
}
#l8
{
	width: 20px;
	height: 100px;
	border-radius: 10px;
	background-color: lightgrey;
	left: 340px;
	top: 240px;
	position: absolute;
}
#l9
{
	width: 20px;
	height: 100px;
	border-radius: 10px;
	background-color: lightgrey;
	left: 460px;
	top: 240px;
	position: absolute;
}
#l10
{
	width: 20px;
	height: 100px;
	border-radius: 10px;
	background-color: lightgrey;
	left: 580px;
	top: 240px;
	position: absolute;
}
#l11
{
	width: 20px;
	height: 100px;
	border-radius: 10px;
	background-color: lightgrey;
	left: 100px;
	top: 360px;
	position: absolute;
}
#l12
{
	width: 20px;
	height: 100px;
	border-radius: 10px;
	background-color: lightgrey;
	left: 220px;
	top: 360px;
	position: absolute;
}
#l13
{
	width: 20px;
	height: 100px;
	border-radius: 10px;
	background-color: lightgrey;
	left: 340px;
	top: 360px;
	position: absolute;
}
#l14
{
	width: 20px;
	height: 100px;
	border-radius: 10px;
	background-color: lightgrey;
	left: 460px;
	top: 360px;
	position: absolute;
}
#l15
{
	width: 20px;
	height: 100px;
	border-radius: 10px;
	background-color: lightgrey;
	left: 580px;
	top: 360px;
	position: absolute;
}
#l16
{
	width: 20px;
	height: 100px;
	border-radius: 10px;
	background-color: lightgrey;
	left: 100px;
	top: 480px;
	position: absolute;
}
#l17
{
	width: 20px;
	height: 100px;
	border-radius: 10px;
	background-color: lightgrey;
	left: 220px;
	top: 480px;
	position: absolute;
}
#l18
{
	width: 20px;
	height: 100px;
	border-radius: 10px;
	background-color: lightgrey;
	left: 340px;
	top: 480px;
	position: absolute;
}
#l19
{
	width: 20px;
	height: 100px;
	border-radius: 10px;
	background-color: lightgrey;
	left: 460px;
	top: 480px;
	position: absolute;
}
#l20
{
	width: 20px;
	height: 100px;
	border-radius: 10px;
	background-color: lightgrey;
	left: 580px;
	top: 480px;
	position: absolute;
}
#box1
{
	width: 96px;
	height: 96px;
	border-radius: 10px;
	font-size:80px;
	text-align: center;
	border-style: dashed;
	border-color: white;
	
	left: 120px;
	top: 120px;
	position: absolute;
}
#box2
{
	width: 96px;
	height: 96px;
	border-radius: 10px;
	font-size:80px;
	text-align: center;
	border-style: dashed;
	border-color: white;
	
	left: 240px;
	top: 120px;
	position: absolute;
}
#box3
{
	width: 96px;
	height: 96px;
	border-radius: 10px;
	font-size:80px;
	text-align: center;
	border-style: dashed;
	border-color: white;
	
	left: 360px;
	top: 120px;
	position: absolute;
}
#box4
{
	width: 96px;
	height: 96px;
	border-radius: 10px;
	font-size:80px;
	text-align: center;
	border-style: dashed;
	border-color: white;
	
	left: 480px;
	top: 120px;
	position: absolute;
}
#box5
{
	width: 96px;
	height: 96px;
	border-radius: 10px;
	font-size:80px;
	text-align: center;
	border-style: dashed;
	border-color: white;
	
	left: 120px;
	top: 240px;
	position: absolute;
}
#box6
{
	width: 96px;
	height: 96px;
	border-radius: 10px;
	font-size:80px;
	text-align: center;
	border-style: dashed;
	border-color: white;
	
	left: 240px;
	top: 240px;
	position: absolute;
}
#box7
{
	width: 96px;
	height: 96px;
	border-radius: 10px;
	font-size:80px;
	text-align: center;
	border-style: dashed;
	border-color: white;
	
	left: 360px;
	top: 240px;
	position: absolute;
}
#box8
{
	width: 96px;
	height: 96px;
	border-radius: 10px;
	font-size:80px;
	text-align: center;
	border-style: dashed;
	border-color: white;
	
	left: 480px;
	top: 240px;
	position: absolute;
}
#box9
{
	width: 96px;
	height: 96px;
	border-radius: 10px;
	font-size:80px;
	text-align: center;
	border-style: dashed;
	border-color: white;
	
	left: 120px;
	top: 360px;
	position: absolute;
}
#box10
{
	width: 96px;
	height: 96px;
	border-radius: 10px;
	font-size:80px;
	text-align: center;
	border-style: dashed;
	border-color: white;
	
	left: 240px;
	top: 360px;
	position: absolute;
}
#box11
{
	width: 96px;
	height: 96px;
	border-radius: 10px;
	font-size:80px;
	text-align: center;
	border-style: dashed;
	border-color: white;
	
	left: 360px;
	top: 360px;
	position: absolute;
}
#box12
{
	width: 96px;
	height: 96px;
	border-radius: 10px;
	font-size:80px;
	text-align: center;
	border-style: dashed;
	border-color: white;
	
	left: 480px;
	top: 360px;
	position: absolute;
}
#box13
{
	width: 96px;
	height: 96px;
	border-radius: 10px;
	font-size:80px;
	text-align: center;
	border-style: dashed;
	border-color: white;
	
	left: 120px;
	top: 480px;
	position: absolute;
}
#box14
{
	width: 96px;
	height: 96px;
	border-radius: 10px;
	font-size:80px;
	text-align: center;
	border-style: dashed;
	border-color: white;
	
	left: 240px;
	top: 480px;
	position: absolute;
}
#box15
{
	width: 96px;
	height: 96px;
	border-radius: 10px;
	font-size:80px;
	text-align: center;
	border-style: dashed;
	border-color: white;
	
	left: 360px;
	top: 480px;
	position: absolute;
}
#box16
{
	width: 96px;
	height: 96px;
	border-radius: 10px;
	font-size:80px;
	text-align: center;
	border-style: dashed;
	border-color: white;
	
	left: 480px;
	top: 480px;
	position: absolute;
}
#line :hover
{
	background-color: orange;
}