.head
{
	font-size:100px;
	text-align: center; 
	color:blue;
}
.inst
{
	font-size: 80px;
	text-align: center;
}


.qone p
{
	font-size:80px;
	padding-left: 40px;
	color: black;
	text-align: center;
}
.qone input
{
	font-size: 80px;
	text-align: center;
	color: black;
	border-bottom-width: 4px;
	border-color:blue;
    border-top-width: 4px;
    border-left-width: 4px;
    border-right-width: 4px;
    width: 50%;
    margin-left: 25%;
    border-radius: 20px;
}

/******************Button Start*********************/

.qone button
{
	font-size: 60px;
	background-color: black;
	color: white;
	border-radius:20px;
	border:none;
	text-align:center;
	margin-left: 35%;
	width:30%;
}
.qone button[type="submit"]:hover{
    background:blue;
    color:#000000;


}
/******************Button End***********************/

/******************Result Start*********************/

.result
{
	color:red ;
	font-size: 50px;
	text-align: center;

}
/******************Result End*********************/
