body
{
	background-color: lightgray;
}
.head
{
	color: #FF5959;
	text-align: center;
	font-size: 30px; 
}
#que1
{
	border-style: solid;
	border-color: lightgray;
	background-color:orange;
	color: white;
	font-size:30px;
	width: 35%;
	border-radius: 50px;
	text-align: center;
	margin-left: 15%;
}
#que2
{
	border-style: solid;
	border-color: lightgray;
	background-color:orange;
	color: white;
	font-size:30px;
	width: 35%;
	border-radius: 50px;
	text-align: center;
	margin-left: 15%;
}
#que3
{
	border-style: solid;
	border-color: lightgray;
	background-color:orange;
	color: white;
	font-size:30px;
	width: 35%;
	border-radius: 50px;
	text-align: center;
	margin-left: 15%;
}
#que4
{
	border-style: solid;
	border-color: lightgray;
	background-color:orange;
	color: white;
	font-size:30px;
	width: 35%;
	border-radius: 50px;
	text-align: center;
	margin-left: 15%;
}
#que5
{
	border-style: solid;
	border-color: lightgray;
	background-color:orange;
	color: white;
	font-size:30px;
	width: 35%;
	border-radius: 50px;
	text-align: center;
	margin-left: 15%;
}
#demo1
{
	border-style: solid;
	border-color: lightgray;
	background-color:blue;
	color: white;
	font-size:30px;
	width: 35%;
	border-radius: 50px;
	text-align: center;
}
#demo2
{
	border-style: solid;
	border-color: lightgray;
	background-color:blue;
	color: white;
	font-size:30px;
	width: 35%;
	border-radius: 50px;
	text-align: center;
}
#demo3
{
	border-style: solid;
	border-color: lightgray;
	background-color:blue;
	color: white;
	font-size:30px;
	width: 35%;
	border-radius: 50px;
	text-align: center;
}
#demo4
{
	border-style: solid;
	border-color: lightgray;
	background-color:blue;
	color: white;
	font-size:30px;
	width: 35%;
	border-radius: 50px;
	text-align: center;
}
#demo5
{
	border-style: solid;
	border-color: lightgray;
	background-color:blue;
	color: white;
	font-size:30px;
	width: 35%;
	border-radius: 50px;
	text-align: center;
}
#drag1
{
	border-style: solid;
	border-color: lightgray;
	background-color:blue;
	color: white;
	font-size:30px;
	width: 20%; margin-left:10%;
	border-radius: 50px;
	text-align: center;
}
#drag2
{
	border-style: solid;
	border-color: lightgray;
	background-color:blue;
	color: white;
	font-size:30px;
	width: 20%; margin-left:10%;
	border-radius: 50px;
	text-align: center;
}
#drag3
{
	border-style: solid;
	border-color: lightgray;
	background-color:blue;
	color: white;
	font-size:30px;
	width: 20%; margin-left:10%;
	border-radius: 50px;
	text-align: center;
}
#drag4
{
	border-style: solid;
	border-color: lightgray;
	background-color:blue;
	color: white;
	font-size:30px;
	width: 20%; margin-left:10%;
	border-radius: 50px;
	text-align: center;
}
#drag5
{
	border-style: solid;
	border-color: lightgray;
	background-color:blue;
	color: white;
	font-size:30px;
	width: 20%; margin-left:10%;
	border-radius: 50px;
	text-align: center;
}
#drag6
{
	border-style: solid;
	border-color: lightgray;
	background-color:blue;
	color: white;
	font-size:30px;
	width: 20%; margin-left:10%;
	border-radius: 50px;
	text-align: center;
}
.options1
{
	display: flex;
}
.options2
{
	display: flex;
}
.q1
{
	display: flex;
}
.q2
{
	display: flex;
}
.q3
{
	display: flex;
}
.q4
{
	display: flex;
}
.q5
{
	display: flex;
}