h1, h2, h3 {
	padding-bottom: 15px;
	border-bottom: 1px dotted #ccc;
}
.wrapper {
	margin: 50px auto;
	width: 600px;
}
p {
	font-size: 11pt;
}
[contenteditable="true"] { 
	padding: 10px; 
	border: 1px dashed #aaa;
	outline: 0;
}
[contenteditable="true"]:hover {
	background-color: #FF9;
  	border: 1px dashed #aaa;
}
button {
	margin-top: 10px;
}