body {
  padding: 0px;
  margin: 0px;
}

.ground {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line {
  display: flex;
}

.button {
  width: 30px;
  height: 30px;
  padding: 0px;
  border: solid 1px grey;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  background-color: white;
}
.line1 div {
  padding: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: 450px;
  height: 450px;
}
.board .row1 {
  width: 450px;
  height: 180px;
  display: flex;
}
.board .row1 .col1-1 {
  width: 180px;
  height: 180px;
  background-color: #fe7373;
  display: flex;
  justify-content: center;
  align-items: center;
}
.board .row1 .col1-2 {
  width: 90px;
  height: 180px;
}
.board .row1 .col1-3 {
  width: 180px;
  height: 180px;
  background-color: #b0fe73;
  display: flex;
  justify-content: center;
  align-items: center;
}
.board .row2 {
  width: 450px;
  height: 90px;
  display: flex;
}
.board .row2 .col2-1 {
  width: 180px;
  height: 90px;
}
.board .row2 .col2-2 {
  width: 90px;
  height: 90px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.board .row2 .col2-3 {
  width: 180px;
  height: 90px;
}
.board .row3 {
  width: 450px;
  height: 180px;
  display: flex;
}
.board .row3 .col3-1 {
  width: 180px;
  height: 180px;
  background-color: #739ffe;
  display: flex;
  justify-content: center;
  align-items: center;
}
.board .row3 .col3-2 {
  width: 90px;
  height: 180px;
}
.board .row3 .col3-3 {
  width: 180px;
  height: 180px;
  background-color: #f0e122;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  width: 18px;
  height: 18px;
  border-radius: 100px;
  border: solid white 1px;
  box-shadow: 1px 3px 5px grey;
}
.dot:hover {
  cursor: pointer;
}

.redDot {
  background-color: #ff2323;
}

.greenDot {
  background-color: #43d500;
}

.blueDot {
  background-color: #000080;
}

.yellowDot {
  background-color: #ffde00;
}

.star {
  background-color: #efefef;
  background-image: radial-gradient(orange, lightgrey);
}

.tooltip {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  border-style: none;
}

.tooltip .tooltiptext {
  visibility: hidden;
  min-width: 100px;
  width: auto;
  min-height: 100px;
  height: auto;
  background-color: #f8f8f8;
  border-style: none;
  box-shadow: 1px 1px 10px grey;
  text-align: center;
  padding: 10px;
  /* Position the tooltip */
  position: absolute;
  z-index: 3;
  top: 100%;
  left: 100%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.rollDie {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rollDie .roll_btn {
  width: 60px;
  height: 60px;
  background-color: #f8f8f8;
  border-radius: 100px;
  border: solid 1px grey;
  margin: 10px;
  font-size: 30px;
  color: black;
  color: white;
}
.rollDie .roll_btn:hover {
  cursor: pointer;
}
.rollDie .fbtn {
  width: 30px;
  height: 30px;
}

#blue_dice {
  color: blue;
}

#green_dice {
  color: lightgreen;
}

#red_dice {
  color: red;
}

#yellow_dice {
  color: #ffbb33;
}

#dice_value {
  font-size: 70px;
}

#current {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  body {
    padding: 0px;
    margin: 0px;
  }

  .ground {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .line {
    display: flex;
  }

  .button {
    width: 18px;
    height: 18px;
    padding: 0px;
    border: solid 1px grey;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .line1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    background-color: white;
  }
  .line1 div {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .board {
    width: 270px;
    height: 270px;
  }
  .board .row1 {
    width: 270px;
    height: 108px;
    display: flex;
  }
  .board .row1 .col1-1 {
    width: 108px;
    height: 108px;
    background-color: #fe7373;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .board .row1 .col1-2 {
    width: 54px;
    height: 108px;
  }
  .board .row1 .col1-3 {
    width: 108px;
    height: 108px;
    background-color: #b0fe73;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .board .row2 {
    width: 270px;
    height: 54px;
    display: flex;
  }
  .board .row2 .col2-1 {
    width: 108px;
    height: 54px;
  }
  .board .row2 .col2-2 {
    width: 54px;
    height: 54px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .board .row2 .col2-3 {
    width: 108px;
    height: 54px;
  }
  .board .row3 {
    width: 270px;
    height: 108px;
    display: flex;
  }
  .board .row3 .col3-1 {
    width: 108px;
    height: 108px;
    background-color: #739ffe;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .board .row3 .col3-2 {
    width: 54px;
    height: 108px;
  }
  .board .row3 .col3-3 {
    width: 108px;
    height: 108px;
    background-color: #f0e122;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dot {
    width: 11px !important;
    height: 11px !important;
    border-radius: 100px;
    border: solid white 1px;
    box-shadow: 1px 3px 5px grey;
  }
  .dot:hover {
    cursor: pointer;
  }

  .redDot {
    background-color: #ff2323;
  }

  .greenDot {
    background-color: #43d500;
  }

  .blueDot {
    background-color: #000080;
  }

  .yellowDot {
    background-color: #ffde00;
  }

  .star {
    background-color: #efefef;
    background-image: radial-gradient(orange, lightgrey);
  }

  .tooltip {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    padding: 0;
    margin: 0;
    border-style: none;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    min-width: 100px;
    width: auto;
    min-height: 100px;
    height: auto;
    background-color: #f8f8f8;
    border-style: none;
    box-shadow: 1px 1px 10px grey;
    padding: 10px;
    /* Position the tooltip */
    position: absolute;
    z-index: 3;
    top: 100%;
    left: 100%;
    margin-left: -60px;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .rollDie {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .rollDie .roll_btn {
    width: 36px;
    height: 36px;
    background-color: #f8f8f8;
    border-radius: 100px;
    border: solid 1px grey;
    margin: 10px;
    font-size: 18px;
    color: black;
    color: white;
  }
  .rollDie .roll_btn:hover {
    cursor: pointer;
  }
  .rollDie .fbtn {
    width: 18px;
    height: 18px;
  }

  #blue_dice {
    color: blue;
  }

  #green_dice {
    color: lightgreen;
  }

  #red_dice {
    color: red;
  }

  #yellow_dice {
    color: #ffbb33;
  }

  #dice_value {
    font-size: 35px;
  }

  #current {
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
