body {
    font-family: 'Open Sans', sans-serif;
}

/* Animation Duration for 
all effects */
:root {
    --animate-duration: 0.1s;
}

.sticky-top {
    box-shadow: 0 1px 10px #efefef;
}

/* Navbar CSS */
.navbar {
    height: 70px;
    background-color: white;
    position: relative;
}

.nav_content {
    position: absolute;
    right: 120px;
}

.nav_logo {
    position: absolute;
    left: 120px;
}

.nav_logo img {
    width: 150px;
    height: auto;
}

.nav_content a {
    text-decoration: none;
    color: #69575f;
    font-size: 16px;
    padding: 18px;
    line-height: 25px;
    font-weight: 400;
}

.nav_content a:hover {
    color: #000080;
}

/* Navbar CSS Ends*/

/* Home CSS */
.home_img {
    padding: 100px 20px 20px 20px;
    text-align: center;
}

.home_img img {
    width: 90%;
    height: auto;
    margin-left: 5%;
}

.home_txt h1 {
    font-size: 42px;
    line-height: 60px;
    font-weight: 700;
    color: #222222;
    font-family: 'Arvo', serif;
}

.home_txt p {
    font-size: 14px;
    color: #abacae;
}

.home_txt {
    padding: 150px 10px 150px 130px;
}

.home_btn {
    padding: 10px 20px 10px 20px;
    border-radius: 50px;
    color: #000080;
    background-color: white;
    border-width: 1px;
    border-color: #000080;
    margin-left: 20px;
    font-size: 15px;
}

.home_btn:hover {
    background-color: #000080;
    color: white;
}

.home_btn1 {
    padding: 10px 20px 10px 20px;
    border-radius: 50px;
    color: white;
    background-color: #000080;
    font-size: 15px;
}

.home_btn1:hover {
    background-color: white;
    color: #000080;
    border-width: 1px;
    border-color: #000080;
}


/* Home CSS Ends */

/* Services CSS */
.Servies_h1 {
    font-family: 'Arvo', serif;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    margin-top: 10px;
}

.Services_col {
    padding: 20px;
}

.Services_card {
    box-shadow: 0 2px 18px 0 rgb(198 198 198 / 30%);
    padding: 20px;
    height: auto;
    border-radius: 5px;
    justify-content: center;
}

.Services_card h1 {
    font-weight: 700;
    font-family: 'Arvo', serif;
    font-size: 16px;
    line-height: 19.2px;
    color: #585b60;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

.Services_card p {
    font-size: 14px;
    line-height: 25px;
    color: #abacae;
    text-align: center;
}

.Card_icon {
    padding: 5px;
    border-style: solid;
    border-color: lightgrey;
    border-width: 1px;
    border-radius: 100px;
    width: 70px;
    height: 70px;
    text-align: center;
    font-size: 40px;
}

.Services_card i {
    color: #000080;
}

.Services_card:hover {
    cursor: pointer;
    box-shadow: 0 2px 18px 0 #c8c8c8;
    transition: box-shadow 0.8s;
}

.Services_card:hover h1 {
    color: #000080;
    transition: color 0.7s;
}

.Services_card:hover i {
    color: white;
    transition: color 0.9s;
}

.Services_card:hover .Card_icon {
    background-color: #000080;
    transition: background-color 0.6s;
}

/* Services CSS Ends */
/* About Us */
.about_txt h1 {
    font-family: 'Arvo', serif;
    font-size: 30px;
    line-height: 36px;
    font-weight: 900;
    margin-bottom: 20px;
}

.about_txt p {
    font-size: 16px;
    line-height: 25px;
    color: #abacae;
}

.home_txt {
    padding: 150px 10px 150px 130px;
}

.about_btn1 {
    padding: 10px 20px 10px 20px;
    border-radius: 50px;
    color: white;
    background-color: #000080;
    font-size: 15px;
    margin-top: 20px;
}

.about_btn1:hover {
    background-color: white;
    color: #000080;
    border-width: 1px;
    border-color: #000080;
}

.about_img {
    padding: 40px 20px 20px 20px;
    text-align: center;
}

.about_img img {
    width: 100%;
    height: auto;
}

/* About Us Ends*/

/* Testimonial CSS */


.test_card {
    padding: 20px;
    height: 250px;
    border-radius: 2px;
    justify-content: center;
    background-color: white;
}

.test_card h1 {
    font-weight: 700;
    font-family: 'Arvo', serif;
    font-size: 16px;
    line-height: 19.2px;
    color: #585b60;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

.test_card p {
    font-size: 14px;
    line-height: 25px;
    color: #abacae;
    text-align: center;
}

.test_card_img {
    padding: 0px;
    border-style: solid;
    border-color: lightgrey;
    border-width: 1px;
    border-radius: 100px;
    width: 70px;
    height: 70px;
    text-align: center;
    font-size: 40px;
    overflow: hidden;
}

.test_card_img img {
    width: 70px;
    height: auto;

}

.test_btn1 {
    padding: 10px 20px 10px 20px;
    border-radius: 50px;
    color: white;
    background-color: #000080;
    font-size: 15px;
    margin-top: 20px;
}

.test_btn1:hover {
    background-color: white;
    color: #000080;
    border-style: solid;
    border-width: 1px;
    border-color: #000080;
}

.test_txt h1 {
    font-weight: 700;
    font-family: 'Arvo', serif;
    font-size: 38px;
    line-height: 45.6px;

}

.test_txt p {
    font-size: 16px;
    color: #abacae;
}

.test_txt {
    padding: 20px;
}



/* Testimonial CSS Ends */
/* Contact Us CSS */
.Contact_h1 {
    font-family: 'Arvo', serif;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 30px;
}

.c_form {
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 25px;

}

.c_textarea {
    height: 180px;
}

.Contact_btn1 {
    padding: 10px 20px 10px 20px;
    border-radius: 50px;
    color: white;
    background-color: #000080;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.Contact_btn1:hover {
    color: white;
    background-color: #000080;
    border-style: solid;
    border-width: 1px;
    border-color: #000080;
}

/* Contact Us CSS Ends */

/* work CSS */
.Servies_h1 {
    font-family: 'Arvo', serif;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    margin-top: 10px;
}

.work_col {
    padding: 20px;
}

.work_card {
    box-shadow: 0 2px 18px 0 rgb(198 198 198 / 30%);
    padding: 20px;
    height: 300px;
    border-radius: 5px;
    justify-content: center;
}

.work_card h1 {
    font-weight: 700;
    font-family: 'Arvo', serif;
    font-size: 16px;
    line-height: 19.2px;
    color: #585b60;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

.work_card p {
    font-size: 14px;
    line-height: 25px;
    color: #abacae;
    text-align: center;
}

.Card_icon {
    padding: 5px;
    border-style: solid;
    border-color: lightgrey;
    border-width: 1px;
    border-radius: 100px;
    width: 70px;
    height: 70px;
    text-align: center;
    font-size: 40px;
}

.work_card i {
    color: #000080;
}

.work_card:hover {
    cursor: pointer;
    box-shadow: 0 2px 18px 0 #c8c8c8;
    transition: box-shadow 0.8s;
}

.work_card:hover h1 {
    color: #000080;
    transition: color 0.7s;
}

.work_card:hover i {
    color: white;
    transition: color 0.9s;
}

.work_card:hover .Card_icon {
    background-color: #000080;
    transition: background-color 0.6s;
}

/* work CSS Ends */
