html
{
	min-height: 100%;
}
body
{
	font-family: Suisse Intl,sans-serif;
	
}
.navbar
{
	height: 120px;
}
/* Animate.style */
.animate__animated.animate__fadeIn {
  --animate-duration: 0.5s;
}
/* Animation End */


#menu_block_item{
        width: 100%;
        height: all;
        filter: brightness(95%);
        margin-top: 120px;
        position: absolute;
        right: 0px;
        z-index:2;
        transition: 0.5s;
        display: none;
    }
    #menu_block_item a
    {
    	text-decoration: none;
    	color: black;
    	font-weight: bold;
    }

.head
{
	padding: 20px;
	font-size: 20px;
}
.hed
{
	color: black;
}
.hed:hover
{
	color: #424BE8;
	cursor: pointer;
}
.logo2
{
	width: 400px;
	height: auto;
}
.head_img1
{
	height: 600px;
	width: 100%;
	min-height: 250px;
}
.drop_link1
{
	color: black;
	text-decoration: none;
}

.head_img2
{
	height: 450px;
	width: 100%;
	min-height: 250px;
}
.head_img2:hover
{
	
}
@keyframes change
{
	100%
	{
		filter: brightness(50%);
	}
}
.head_txt
{
	background-color: #424BE8;
	font-size: 63px;
}
.head_txt2
{
	font-size: 46px;
	line-height: 1.2;
	text-shadow: 0px 1px 5px #424BE8;
}

.navs
{
	text-decoration: none;
	color: black;
	padding: 20px;
}
.navs:hover
{
	color: black;
}
.head_cont
{
	position: absolute;
	top: 120px;
	left: 80px;
	line-height: 1.2;
}
.img_content
{
	position: absolute;
	bottom: 15px;
	padding: 15px;
	color: white;
	text-shadow: 0 0 5px black;
}
.img_back1
{
	position: absolute;
	bottom: 20px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.contact
{
	background-color: #424BE8;
	padding-right: 50px;
	padding-left: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
	 border-radius: 0px;
}
.badges
{
	background-color:#424BE8;
	border-radius: 3px;
	font-weight: bold;
}
.rowl
{
	font-size: 54px;
}
.img_curve
{
	position: absolute;
	bottom: 0px;
	right: 0px;
	z-index: 0;
}
.list_ul
{
	text-align: left;
	cursor: pointer;
	border-width: 0px;
	height: 100%;
	padding-left: 30%;
	opacity: 0.95;
}
.right_nav
{
	position: absolute;
	right: 20px;
}
.logo
{
	position: absolute;
	left:40% ;
	font-size: 40px;
}
.logo1
{
	width: 250px;
	height: auto;
}
.menu_icon
{
	position: absolute;
	left: 10px;
	top: 30px;
}
.menu_itm
{
	font-size: 36px;
	color:white;
	font-weight: 900;
	border-style: solid;
	border-width: 0px;
}
#menu_block_item a:hover 
{
	color: #424BE8;
}
.accordion-header, .accordion , .accordion-item,.accordion-button
{
	border-width: 0px;
	border-radius: 0px;
	background-color: #424BE8;
	color: white;
}
.accordion-button
{
	padding: 20px;
}
.drop_link
{
	text-decoration: none;
	color: white;
}
.drop_link:hover
{
	color: white;
}

.arrow
{
	color: white; font-size: 25px;margin-left: 10px;
}
.cards
{
	padding: 15px;
	position: relative;
}
.cards:hover img
{
	cursor: pointer;
	animation-name: change;
	animation-duration: 1.5s;
	animation-fill-mode: forwards;
}
@media only screen and (max-width: 992px) {
	.rowl
	{
		font-size: 45px;
	}
	.head_txt
	{
		font-size: 35px;
	}
	.head_txt2
	{
		font-size: 30px;
	}
	.head_img1
	{
		height: auto;
	}
	.head_cont
	{
		top: 80px;
		left: 60px;
	}
	.curves
	{
		height: 300px;
		width: auto;
	}
	.img_curve
	{
		bottom: 0px;
	}
	.nav_below
	{
		display: none;
	}
	.head
	{
		display: none;
	}
	.menu_icon
	{
		position: absolute;
		right: 10px;
		top: 5px;
	}
  
}

@media only screen and (max-width: 768px) {
	.logo1
{
	width: 180px;
	height: auto;
}
.logo2
{
	width:250px;
}
	.rowl
	{
		font-size: 40px;
	}
	.head_txt
	{
		font-size: 20px;
	}
	.head_txt2
	{
		font-size: 18px;
	}
	.head_img1
	{
		height: auto;
	}

	.head_cont
	{
		top: 50px;
		left: 30px;
	}
	.curves
	{
		height: 250px;
		width: auto;
	}
	.img_curve
	{
		bottom: 0px;
	}
	.head_img3
{ height: 300px;
}
.head_img2
{
	height: 300px;
}
.navbar
{
	height: 80px;
}

#menu_block_item
{
	margin-top: 80px;
}
.menu_itm
{
	font-size: 20px;
}
	
  
}
@media only screen and (max-width: 576px) {

	.logo
	{
		right:  15px;
	}
	.rowl
	{
		font-size: 25px;
	}
	.rowl1
	{
		font-size:20px;
	}

	.head_txt
	{
		font-size: 20px;
	}

	.head_img1
	{
		height: auto;
	}
	.head_cont
	{
		top: 30px;
		left: 15px;
	}
	.curves
	{
		height: 250px;
		width: auto;
	}
	.img_curve
	{
		bottom: 0px;
	}
	.btn_top
	{
		display: block;
	}

  
}
