html, body {
    margin:0; padding:0;
    min-width: 100%;
    font-family: Raleway, sans-serif;
}
.sticky-top {
  
  background-color: white;
  border-bottom-width: 1px;
  border-color: lightgray;
  border-style: solid;
  border-top-width:  0px;
  border-left-width: 0px;
  border-right-width: 0px;
  font-weight: 700;
}
/* Accordion */
.accordion-header, .accordion , .accordion-item
{
	border-width: 0px;
	border-radius: 0px;
	background-color: #4775b8;
	color: white;
}
.accordion-button, .accordion-body
{
	border-width: 0px;
	border-radius: 0px;
	background-color: #5385CF;
	color: white;
}
.accordion-item
{
	padding-top: 20px;
}
.accordion-button.collapsed::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.about-con
{
	background-color: #4775b8;
	padding: 20px;
}
.top-nav
{
	height: 35px;
	font-size: 14px;
	background-color: #4775b8;
	color: white;
	padding-top: 10px;
}
.top-navbar
{
	padding-top: 20px;
	padding-bottom: 20px;
}
.top-nav-icon
{
	padding-left: 60px;
}
.contact-top
{
	padding-left: 110px;
	font-weight: 200;
}
.top-icons
{
	padding-left: 15px;
	font-size: 15px;
}
.top-logo
{
	width: 300px;
	height: auto;
	padding-left: 50px;
}
.nav-bar-item a
{
	text-decoration: none;
	color: black;
	padding: 15px;
	font-size: 13px;
}
.nav-bar-item
{
	padding-left: 100px;
}
.con-carousel
{
	height: 600px;
}
.img-carousel
{
	height: 600px;
}
.carousel-item
{
	height: 600px;
}
.img-content
{
	top: 80px;
	left: 180px;
	position: absolute;
}
.card
{
	box-shadow: 0 0 7px gray;
	border-radius: 0px;
	height: 500px;
}
.card p
{
	font-size: 15px;
	color: grey;
}
.cards
{
	padding: 20px;
}
.card-row
{
	padding-left: 100px;
	padding-right: 100px;
}
.img-card
{
	height: 250px;
	overflow: hidden;
}
.card-btn
{
	border-radius: 0px;
	font-size: 15px;
}
.footer-tab
{
	padding: 20px;
}
.head-footer
{
	color:#4775b8;
}
.card-columns
{
	column-count: 2;
}
.fa-caret-right
{
	font-size: 15px;
	color: lightgrey;
}
.bottom-icons
{
	padding-left: 15px;
	font-size: 20px;
	color: #4775b8;
}
.nav-bar-item a:hover
{
	color: #4775b8;
}
.about-img
{
	height:250px; 
	width: 100%;
}
.img-content1
{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 250px;
	width: 100%;
}
.img_content
{
	position: absolute;
	bottom: 15px;
	padding: 15px;
	color: white;
	text-shadow: 0 0 5px black;
}
.head_img2
{
	height: 450px;
	width: 100%;
	min-height: 250px;
}
.cards1
{
	padding: 15px;
	position: relative;
}
.cards1:hover img
{
	cursor: pointer;
	animation-name: change;
	animation-duration: 1.5s;
	animation-fill-mode: forwards;
}
@keyframes change
{
	100%
	{
		filter: brightness(50%);
	}
}

/* Navbar button */
#menu_block_item
{
        width: 100%;
        height: 100vh;
        height: all;
        position: absolute;
        right: 0px;
        border-radius: 0px;
        top: 0px;
        z-index:2;
        transition: 0.5s;
        display: none;
    }
#menu_block_item a
{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.menu_itm
{
	font-size: 25px;
	color:white;
	font-weight: 900;
	border-style: solid;
	border-width: 0px;
}
#menu_block_item a:hover 
{
	color: #4775b8;
}
.list_ul
{
	text-align: left;
	cursor: pointer;
	border-width: 0px;
	height: 100%;
	padding-left: 30%;
}
.menu_icon
{
	position: absolute;
	right: 10px;
	height: 70px;
	width: 70px;
	top: 5px;
	display: none;
}
/* Stop Scrolling */
.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

	.carousel
	{
		height: 600px;
	}



/*****************************************************/
/**********************                      **********/






@media only screen and (max-width: 992px) 
{
	.top-nav
	{
		display: none;
	}
	.top-logo
	{
		width: 200px;
		padding-left: 10px;
	}
	.top-navbar
	{
		height: 70px;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.nav-bar-item
	{
		display: none;
	}
	.menu_icon
	{
		display: block;
	}
	.img-content
	{
		top: 15px;
		left: 15px;
		padding: 15px;
	}
	.card-row
	{
		padding-left: 10px;
		padding-right: 10px;
	}
	.img-card
	{
		height: 500px;
	}
	.top-nav-icon
	{
		padding-left: 5px;
	}
}
@media only screen and (max-width: 768px) {
	.img-row
	{
		height: 250px;
	}
	.card-row
	{
		padding-left: 2px;
		padding-right: 2px;
	}
	.contact-top
	{
		padding-left: 20px;
		padding-right: 2px;
	}
	.carousel-item img
	{
		height: 400px;
	}
	.carousel
	{
		height: 400px;
	}
}
@media only screen and (max-width: 576px) {}
