body {
    font-family: 'Nunito', sans-serif;
    background-color: #f8f8f8;
}

.dice_box {
    text-align: center;
    padding: 20px;
    box-shadow: 1px 2px 3px #C5C5C5, -1px -2px 3px #C5C5C5;
    border-radius: 5px;
    margin-top: 10px;
    height: 200px;
    width: 100%;
}

.buttons {
    padding: 35px;
    font-size: 25px;
    border-radius: 500px;
    background-color: #FF9D55;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
}

.buttons:hover {
    color: white;
    background-color: #FF8023;
    transition: background-color 0.5s;
}

.buttons1 {
    width: 120px;
    font-size: 15px;
    border-radius: 500px;
    background-color: #FF9D55;
    color: white;
}

.buttons1:hover {
    color: white;
    background-color: #FF8023;
    transition: background-color 0.5s;
}


.players {
    padding: 20px;
    box-shadow: 1px 2px 3px #C5C5C5,
        -1px -2px 3px #C5C5C5;
    margin-top: 40px;
    border-radius: 5px;
}

.dice_img {
    width: 100px;
    height: 100px;
    box-shadow: 1px 2px 3px #C5C5C5, -1px -2px 3px #C5C5C5;
    transform: rotate(90deg);
    border-radius: 20px;
}

.players h1 {
    font-size: 36px;
    line-height: 52px;
    text-align: center;
    font-weight: 700;
}

.players h2 {

    font-size: 30px;
    text-align: center;
    font-weight: 500;
}

#player1 {
    background-color: #FFF1F1;
}

#player2 {
    background-color: #F1F7FF;
}

#player_current {
    font-size: 60px;
}

#player1_score {
    font-size: 60px;
}

#player2_score {
    font-size: 60px;
}

.fa-dice {
    color: red;
}

@media only screen and (max-width: 768px) {

    #player_current {
        font-size: 25px;
    }

    #player1_score {
        font-size: 25px;
    }

    #player2_score {
        font-size: 25px;
    }

    .players h1 {
        font-size: 18px;
        line-height: 20px;
        font-weight: 600;
    }

    .players h2 {

        font-size: 14px;
    }

    .dice_box {
        padding: 10px;
        margin-top: 5px;
        height: 180px;
    }
}